.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.menu {
  width: 100%;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-40%);
  opacity: 0%;
}

.menu-primary-enter-active {
  transform: translateX(0%);
  opacity: 100%;
  transition: transform 500ms, opacity 500ms;
  transition-timing-function: ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-40%);
  opacity: 0%;
  transition: transform 500ms, opacity 250ms;
  transition-timing-function: ease;
}

.menu-secondary-enter {
  position: absolute;
  transform: translateX(40%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  opacity: 100%;
  transition: transform 500ms, opacity 500ms;
  transition-timing-function: ease;
}

.menu-secondary-exit {
  position: absolute;
}

.menu-secondary-exit-active {
  transform: translateX(40%);
  opacity: 0%;
  transition: transform 500ms, opacity 500ms;
  transition-timing-function: ease;
}